@{
    ViewBag.Title = "Imbibe. Home";
}

<div class="jumbotron">
    <h1>Imbibe.</h1>
    <p class="lead">Industry leading software to help streamline your bar from front to back.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>